* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}
main {
  margin-top: 75px;
  margin-bottom: 75px;
}
.contatos {
  display: flex;
  justify-items: center;
  align-content: space-between;
}
#contato {
  font-weight: 700;
  font-size: 40px;
  color: #ff4081;
  margin: 40px;
}
#formulario {
  width: 478px;
}
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.dados {
  display: flex;
  border: 1px solid #686868;
  border-radius: 7px;
  padding: 10px;
  padding-right: 450px;
}
#mensagem {
  border: 1px solid #686868;
  border-radius: 7px;
  padding: 10px;
  padding-right: 412px;
}
#botao {
  background: #ff4081;
  border: 1px solid #ff4081;
  border-radius: 50px;
  padding: 8px;
  font-weight: 800;
  font-size: 16px;
  color: #ffff;
}
