@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  text-decoration: none;
}
.primeirasec {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  margin-top: 125px;
  margin-bottom: 100px;
}
.curso .botao a {
  color: #f6f6f6;
}
#texto1 {
  display: flex;
  font-family: "Ubuntu", sans-serif;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 120px;
}

h1 {
  font-family: "Ubuntu", sans-serif;
  color: #ff4081;
  font-weight: 700;
  font-size: 60px;
}
h2 {
  font-family: "Ubuntu", sans-serif;
  color: #555555;
  font-weight: 400;
  font-size: 27px;
  padding: 15px 0px;
}

#saber {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 27px;
  text-decoration: none;
  color: #ff4081;
  border: 2px solid #ff4081;
  border-radius: 62px;
  padding: 8px;
}

.segundasec {
  background-color: #f6f6f6;
}
.container-cursos {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 100px;
  margin: 0 auto;
}
.curso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.curso h3 {
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #ff4081;
}
.curso p {
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
  width: 300px;
}

.botao {
  display: flex;
  text-align: center;
  align-content: center;
  background: #ff4081;
  border-radius: 62px;
  border: 1px solid #ff4081;
  padding: 15px 45px;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  color: #ffffff;
}
.personagens {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#container-pessoas {
  display: flex;
  flex-wrap: wrap;
}
.container-pessoas1 {
  display: flex;
  padding: 50px;
  width: 600px;
  height: 200px;
}
.container-pessoas1 img {
  padding: 0px 30px;
}
.container-pessoas1 p {
  font-weight: 300;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}
.conteudo:hover {
  box-shadow: 1px 4px 4px 0px rgb(0 0 0 / 40%);
}

.conteudo-div {
  width: 100px;
}
.container-pessoas1 #name {
  font-weight: 400;
}
#pessoas {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #009688;
}

.quartasec {
  background-color: #f6f6f6;
}
#todososconteudos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 40px;
}
#maisconteudo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #009688;
  padding: 60px;
}
#todososconteudos-container {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
}
.conteudo {
  padding: 20px 35px;
  display: flex;
  flex-direction: column;

  width: 400px;
}
.conteudo .conteudo-div {
  align-items: center;
  width: 280px;
  display: flex;
  font-weight: 700;
  font-size: 27px;
  font-family: "Ubuntu", sans-serif;
  color: #009688;
}
.conteudo p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

#posts {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  width: 250px;
  margin-top: 30px;
  font-size: 25px;
  padding: 15px;
  color: #ff4081;
  border: 2px solid #ff4081;
  border-radius: 62px;
  margin-bottom: 30px;
}
#posts:hover {
  color: #e21358;
  background: #db80a0;
}

.rodape a {
  color: #ffffff;
}
@media only screen and (max-width: 950px) {
  #banner1 img {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .container-pessoas1 {
    justify-content: center;
    flex-direction: column;
    width: 340px;
    height: 300px;
  }
  .container-pessoas1 img {
    width: 150px;
  }
  .conteudo p {
    width: 100%px;
  }
  .conteudo img {
    width: 100%;
  }
  #todososconteudos-container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
  }
  .personagens {
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 390px) {
  header {
    width: 100%;
  }
  main {
    width: 100%;
  }

  .conteudo p {
    width: 100%;
  }

  .personagens {
    width: 100%;
  }
}
