@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap");
* {
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

#container1 {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.investimentos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
h1 {
  font-weight: 700;
  font-size: 55px;
  color: #ff4081;
}
p {
  font-weight: 300;
  font-size: 20px;
  display: flex;
  width: 500px;
  justify-content: center;
}
.aulas {
  margin-bottom: 50px;
  margin-top: 80px;
  background: #f7f7f7;
}
.video {
  display: flex;
  width: 462px;
  height: 261px;
  justify-content: center;
  align-items: center;
  border: 3px solid #8e8e8e;
}
hr {
  margin-top: 35px;
}
.videoaula {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
  padding: 40px 0px;
}
.textoaula {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}
@media only screen and (max-width: 880px) {
  .investimentos img {
    display: none;
  }
  .videoaula {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 550px) {
  p {
    width: 100%;
  }
}
@media only screen and (max-width: 340px) {
}
h1 {
  width: 100%;
}
