<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Style/headerfooter.css">
  <link rel="stylesheet" href="../Style/index.css">
  <title>dindin</title>
</head>

<body>
  <header>
    <div id="container-logo">
      <a href="../View/index.html"> <img src="../img/logo-header.png" alt="logo"> </a>

      <nav id="navbar">
        <ul>
          <li> <a href="../View/cursos.html"> CURSOS </a></li>
          <li> <a href="../View/maisconteudo.html"> BLOG</a> </li>
          <li> <a href="../View/contato.html"> CONTATO</a> </li>
        </ul>

      </nav>
    </div>

  </header>

  <main>
    <section class="primeirasec">
      <div id="texto1">
        <div>
          <h1>Educação<br>Financeira<br>é tudo de bom</h1>
        </div>
        <div>
          <h2>Vem comigo que te mostro<br>por onde começar</h2>
        </div>

        <!-- <div> -->
        <a href="#" id="saber">quero saber mais</a>
        <!-- </div> -->

      </div>
      <div id="banner1">
        <img src="../img/ilustra-banner.png" alt="banner">
      </div>
    </section>


    <section class="container-cursos">
      <div class="curso">
        <img src="../img/image 3 (Traced).png" alt="imagem-poupando">
        <h3>Investimento para iniciantes</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit es se cillum dolore eu fugiat nulla pariatur.</p>
        <button class="botao">começar agora</button>
      </div>
      <div class="curso">
        <img src="../img/image 2 (Traced).png" alt="imagem-investimento">
        <h3>Poupando e Rendendo</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit es se cillum dolore eu fugiat nulla pariatur.</p>
        <button class="botao">começar agora</button>
      </div>
      <div class="curso">
        <img src="../img/image 4 (Traced).png" alt="imagem-independencia">
        <h3>Independência Financeira</h3>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit es se cillum dolore eu fugiat nulla pariatur.</p>
        <button class="botao">começar agora</button>
      </div>
    </section>
    <section class="personagens">
      <h2 id="pessoas">O QUE FALAM SOBRE NÓS</h2>
      <div id="container-pessoas">
        <div class="container-pessoas1">
          <img src="../img/icon-wally.png">
          <div>
            <p>”Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.” </p>
            <p id="name">Wally,25</p>
          </div>
        </div>
        <div class="container-pessoas1">
          <img src="../img/icon-jaden.png">
          <div>
            <p>”Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.” </p>
            <p id="name"> Jaden Smith,23 </p>
          </div>
        </div>
        <div class="container-pessoas1">
          <img src="../img/icon-whoopi.png">
          <div>
            <p>”Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.” </p>
            <p id="name">Whoopi Goldberg, 37</p>
          </div>
        </div>
        <div class="container-pessoas1">
          <img src="../img/icon-jane.png">
          <div>
            <p>”Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.” </p>
            <p id="name">Janes Joplin, 29</p>
          </div>
        </div>
      </div>
    </section>



    <section id="todososconteudos">
      <h2 id="maisconteudo"> MAIS CONTEÚDO PARA VOCÊ </h2>
      <div id="todososconteudos-container">

        <div class="conteudo">
          <img src="../img/cinza.png" alt="conteudo">
          <h3 class="conteudo-div">Itaque earum rerum </h3>
          <p>
            hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
          </p>
        </div>
        <div class="conteudo">
          <img src="../img/cinza.png" alt="conteudo">
          <h3 class="conteudo-div">Itaque earum rerum </h3>
          <p>
            hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
          </p>
        </div>
        <div class="conteudo">
          <img src="../img/cinza.png" alt="conteudo">
          <h3 class="conteudo-div">Itaque earum rerum </h3>
          <p>
            hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
          </p>
        </div>
      </div>
      <a id="posts" href="#">ver todos os posts</a>
    </section>



  </main>

  <footer>
    <div class="rodape">
      <img src="../img/logo-footer.png" alt="logo-footer">
      <nav id="navbarfooter">
        <ul>
          <li>cursos</li>
          <li>blog</li>
          <li>contato</li>
        </ul>
      </nav>
      <div id="rodapes">
        <p>quero ser prof</p>
        <p>aqui tem outro link</p>
      </div>
    </div>
  </footer>

</body>

</html>